# Data types String OR f-String 

## Single quates 'This is string'

In [3]:
my_string: str = 'Hello, World!'

print(my_string)

Hello, World!

Double quates "this is alsa a string value"

In [5]:
my_string: str = "Hello, world"

print(my_string)

Hello, world

Triple Single Quotes

In [9]:
my_string: str = '''Hello,
World!
hi brother!
are you ok!
'''

print(my_string)

Hello,
World!
hi brother!
are you ok!
34

Triple Double Quotes

In [14]:
my_string = """hello
 world"""

print(my_string)

hello
 world

# f-string use case

In [37]:
name:str = "Abdullah"
fname:str = "Muhammad Iqbal"
age:int = 19
education:str = "Intermediate"

card:str = f"""
PIAIC Student Card 
Student Name: {name}
Father's Name: {fname}
Age:{age}
Education: {education}

Rool No: {5 + 5 + 7}
 """


print(card)

PIAIC Student Card
Student Name: Abdullah
Father's Name: Muhammad Iqbal
Age:19
Education: Intermediate

Rool No: 17

In [35]:
print(3 + \
       3 + \
2 - \
3 - \
2+ \
3 == 
6)

True

In [38]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

.format

In [43]:
a = 10
b = 23

"karachi value a = {} abd value b = {}".format(a,b)

'karachi value a = 10 abd value b = 23'

In [47]:
name:str = "AbDULlAh HAssAN"

print(name.capitalize())
print(name.casefold())

Abdullah hassan
abdullah hassan

In [48]:
name:str = "AbDULlAh HAssAN"

print(name.capitalize())
print(name.lower())

Abdullah hassan
abdullah hassan

In [61]:
name:str = "               AbDULlAh HAssAN"

display(name.capitalize())
display(name.encode())

'               abdullah hassan'

b'               AbDULlAh HAssAN'

In [67]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = """
PIAIC Student Card
Student Name : {1}
Father's Name: {0}
Age: {3}
Education : {2}
""".format(fname, name, education, age)

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

In [75]:
name : str = "       MuHammAd QasIm         "

#variable_name.method()
display(name)
display(name.strip())

'      MuHammAd QasIm         '

'MuHammAd QasIm'