# Operators In Python

In [2]:
!pip install ipykernel

Requirement already satisfied: ipykernel in d:\abdullah\python_classes\python_practise\class3.py\.conda\lib\site-packages (6.29.5)
Requirement already satisfied: comm>=0.1.1 in d:\abdullah\python_classes\python_practise\class3.py\.conda\lib\site-packages (from ipykernel) (0.2.2)
Requirement already satisfied: debugpy>=1.6.5 in d:\abdullah\python_classes\python_practise\class3.py\.conda\lib\site-packages (from ipykernel) (1.6.7)
Requirement already satisfied: ipython>=7.23.1 in d:\abdullah\python_classes\python_practise\class3.py\.conda\lib\site-packages (from ipykernel) (8.26.0)
Requirement already satisfied: jupyter-client>=6.1.12 in d:\abdullah\python_classes\python_practise\class3.py\.conda\lib\site-packages (from ipykernel) (8.6.2)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in d:\abdullah\python_classes\python_practise\class3.py\.conda\lib\site-packages (from ipykernel) (5.7.2)
Requirement already satisfied: matplotlib-inline>=0.1 in d:\abdullah\python_classes\python_practise\class3.py\.conda\lib\site-packages (from ipykernel) (0.1.7)
Requirement already satisfied: nest-asyncio in d:\abdullah\python_classes\python_practise\class3.py\.conda\lib\site-packages (from ipykernel) (1.6.0)
Requirement already satisfied: packaging in d:\abdullah\python_classes\python_practise\class3.py\.conda\lib\site-packages (from ipykernel) (24.1)
Requirement already satisfied: psutil in d:\abdullah\python_classes\python_practise\class3.py\.conda\lib\site-packages (from ipykernel) (5.9.0)
Requirement already satisfied: pyzmq>=24 in d:\abdullah\python_classes\python_practise\class3.py\.conda\lib\site-packages (from ipykernel) (25.1.2)
Requirement already satisfied: tornado>=6.1 in d:\abdullah\python_classes\python_practise\class3.py\.conda\lib\site-packages (from ipykernel) (6.4.1)
Requirement already satisfied: traitlets>=5.4.0 in d:\abdullah\python_classes\python_practise\class3.py\.conda\lib\site-packages (from ipykernel) (5.14.3)
Requirement already satisfied: decorator in d:\abdullah\python_classes\python_practise\class3.py\.conda\lib\site-packages (from ipython>=7.23.1->ipykernel) (5.1.1)
Requirement already satisfied: jedi>=0.16 in d:\abdullah\python_classes\python_practise\class3.py\.conda\lib\site-packages (from ipython>=7.23.1->ipykernel) (0.19.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in d:\abdullah\python_classes\python_practise\class3.py\.conda\lib\site-packages (from ipython>=7.23.1->ipykernel) (3.0.47)
Requirement already satisfied: pygments>=2.4.0 in d:\abdullah\python_classes\python_practise\class3.py\.conda\lib\site-packages (from ipython>=7.23.1->ipykernel) (2.18.0)
Requirement already satisfied: stack-data in d:\abdullah\python_classes\python_practise\class3.py\.conda\lib\site-packages (from ipython>=7.23.1->ipykernel) (0.6.2)
Requirement already satisfied: colorama in d:\abdullah\python_classes\python_practise\class3.py\.conda\lib\site-packages (from ipython>=7.23.1->ipykernel) (0.4.6)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\abdullah\python_classes\python_practise\class3.py\.conda\lib\site-packages (from jupyter-client>=6.1.12->ipykernel) (2.9.0)
Requirement already satisfied: platformdirs>=2.5 in d:\abdullah\python_classes\python_practise\class3.py\.conda\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel) (4.2.2)
Requirement already satisfied: pywin32>=300 in d:\abdullah\python_classes\python_practise\class3.py\.conda\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel) (305.1)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in d:\abdullah\python_classes\python_practise\class3.py\.conda\lib\site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel) (0.8.4)
Requirement already satisfied: wcwidth in d:\abdullah\python_classes\python_practise\class3.py\.conda\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=7.23.1->ipykernel) (0.2.13)
Requirement already satisfied: six>=1.5 in d:\abdullah\python_classes\python_practise\class3.py\.conda\lib\site-packages (from python-dateutil>=2.8.2->jupyter-client>=6.1.12->ipykernel) (1.16.0)
Requirement already satisfied: executing>=1.2.0 in d:\abdullah\python_classes\python_practise\class3.py\.conda\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in d:\abdullah\python_classes\python_practise\class3.py\.conda\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel) (2.4.1)
Requirement already satisfied: pure-eval in d:\abdullah\python_classes\python_practise\class3.py\.conda\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel) (0.2.3)

In [7]:
!pip install pandas

Collecting pandas
  Using cached pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.1.0-cp312-cp312-win_amd64.whl.metadata (59 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\abdullah\python_classes\python_practise\class3.py\.conda\lib\site-packages (from pandas) (2.9.0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in d:\abdullah\python_classes\python_practise\class3.py\.conda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
    --------------------------------------- 0.3/11.5 MB ? eta -:--:--
    --------------------------------------- 0.3/11.5 MB ? eta -:--:--
    --------------------------------------- 0.3/11.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.5 MB 357.1 kB/s eta 0:00:31
   - -------------------------------------- 0.5/11.5 MB 357.1 kB/s eta 0:00:31
   - -------------------------------------- 0.5/11.5 MB 357.1 kB/s eta 0:00:31
   - -------------------------------------- 0.5/11.5 MB 357.1 kB/s eta 0:00:31
   -- ------------------------------------- 0.8/11.5 MB 310.8 kB/s eta 0:00:35
   --- ------------------------------------ 1.0/11.5 MB 412.6 kB/s eta 0:00:26
   ---- ----------------------------------- 1.3/11.5 MB 516.3 kB/s eta 0:00:20
   ----- ---------------------------------- 1.6/11.5 MB 574.6 kB/s eta 0:00:18
   ----- ---------------------------------- 1.6/11.5 MB 574.6 kB/s eta 0:00:18
   ----- ---------------------------------- 1.6/11.5 MB 574.6 kB/s eta 0:00:18
   ----- ---------------------------------- 1.6/11.5 MB 574.6 kB/s eta 0:00:18
   ----- ---------------------------------- 1.6/11.5 MB 574.6 kB/s eta 0:00:18
   ----- ---------------------------------- 1.6/11.5 MB 574.6 kB/s eta 0:00:18
   ----- ---------------------------------- 1.6/11.5 MB 574.6 kB/s eta 0:00:18
   ------ --------------------------------- 1.8/11.5 MB 421.2 kB/s eta 0:00:23
   ------- -------------------------------- 2.1/11.5 MB 448.2 kB/s eta 0:00:21
   ------- -------------------------------- 2.1/11.5 MB 448.2 kB/s eta 0:00:21
   ------- -------------------------------- 2.1/11.5 MB 448.2 kB/s eta 0:00:21
   ------- -------------------------------- 2.1/11.5 MB 448.2 kB/s eta 0:00:21
   -------- ------------------------------- 2.4/11.5 MB 432.9 kB/s eta 0:00:22
   -------- ------------------------------- 2.4/11.5 MB 432.9 kB/s eta 0:00:22
   -------- ------------------------------- 2.4/11.5 MB 432.9 kB/s eta 0:00:22
   -------- ------------------------------- 2.4/11.5 MB 432.9 kB/s eta 0:00:22
   -------- ------------------------------- 2.4/11.5 MB 432.9 kB/s eta 0:00:22
   -------- ------------------------------- 2.4/11.5 MB 432.9 kB/s eta 0:00:22
   -------- ------------------------------- 2.4/11.5 MB 432.9 kB/s eta 0:00:22
   -------- ------------------------------- 2.4/11.5 MB 432.9 kB/s eta 0:00:22
   --------- ------------------------------ 2.6/11.5 MB 353.6 kB/s eta 0:00:26
   --------- ------------------------------ 2.6/11.5 MB 353.6 kB/s eta 0:00:26
   --------- ------------------------------ 2.6/11.5 MB 353.6 kB/s eta 0:00:26
   --------- ------------------------------ 2.6/11.5 MB 353.6 kB/s eta 0:00:26
   --------- ------------------------------ 2.6/11.5 MB 353.6 kB/s eta 0:00:26
   --------- ------------------------------ 2.6/11.5 MB 353.6 kB/s eta 0:00:26
   ---------- ----------------------------- 2.9/11.5 MB 321.4 kB/s eta 0:00:27
   ---------- ----------------------------- 2.9/11.5 MB 321.4 kB/s eta 0:00:27
   ---------- ----------------------------- 2.9/11.5 MB 321.4 kB/s eta 0:00:27
   ---------- ----------------------------- 2.9/11.5 MB 321.4 kB/s eta 0:00:27
   ---------- ----------------------------- 2.9/11.5 MB 321.4 kB/s eta 0:00:27
   ---------- ----------------------------- 2.9/11.5 MB 321.4 kB/s eta 0:00:27
   ---------- ----------------------------- 2.9/11.5 MB 321.4 kB/s eta 0:00:27
   ---------- ----------------------------- 3.1/11.5 MB 298.1 kB/s eta 0:00:29
   ---------- ----------------------------- 3.1/11.5 MB 298.1 kB/s eta 0:00:29
   ---------- ----------------------------- 3.1/11.5 MB 298.1 kB/s eta 0:00:29
   ---------- ----------------------------- 3.1/11.5 MB 298.1 kB/s eta 0:00:29
   ---------- ----------------------------- 3.1/11.5 MB 298.1 kB/s eta 0:00:29
   ----------- ---------------------------- 3.4/11.5 MB 295.2 kB/s eta 0:00:28
   ----------- ---------------------------- 3.4/11.5 MB 295.2 kB/s eta 0:00:28
   ------------ --------------------------- 3.7/11.5 MB 303.8 kB/s eta 0:00:26
   ------------ --------------------------- 3.7/11.5 MB 303.8 kB/s eta 0:00:26
   ------------ --------------------------- 3.7/11.5 MB 303.8 kB/s eta 0:00:26
   ------------ --------------------------- 3.7/11.5 MB 303.8 kB/s eta 0:00:26
   ------------ --------------------------- 3.7/11.5 MB 303.8 kB/s eta 0:00:26
   ------------ --------------------------- 3.7/11.5 MB 303.8 kB/s eta 0:00:26
   ------------ --------------------------- 3.7/11.5 MB 303.8 kB/s eta 0:00:26
   ------------ --------------------------- 3.7/11.5 MB 303.8 kB/s eta 0:00:26
   ------------ --------------------------- 3.7/11.5 MB 303.8 kB/s eta 0:00:26
   ------------ --------------------------- 3.7/11.5 MB 303.8 kB/s eta 0:00:26
   ------------ --------------------------- 3.7/11.5 MB 303.8 kB/s eta 0:00:26
   ------------ --------------------------- 3.7/11.5 MB 303.8 kB/s eta 0:00:26
   ------------ --------------------------- 3.7/11.5 MB 303.8 kB/s eta 0:00:26
   ------------ --------------------------- 3.7/11.5 MB 303.8 kB/s eta 0:00:26
   ------------ --------------------------- 3.7/11.5 MB 303.8 kB/s eta 0:00:26
   ------------ --------------------------- 3.7/11.5 MB 303.8 kB/s eta 0:00:26
   ------------ --------------------------- 3.7/11.5 MB 303.8 kB/s eta 0:00:26
   ------------ --------------------------- 3.7/11.5 MB 303.8 kB/s eta 0:00:26
   ------------- -------------------------- 3.9/11.5 MB 240.2 kB/s eta 0:00:32
   ------------- -------------------------- 3.9/11.5 MB 240.2 kB/s eta 0:00:32
   ------------- -------------------------- 3.9/11.5 MB 240.2 kB/s eta 0:00:32
   ------------- -------------------------- 3.9/11.5 MB 240.2 kB/s eta 0:00:32
   -------------- ------------------------- 4.2/11.5 MB 243.1 kB/s eta 0:00:31
   -------------- ------------------------- 4.2/11.5 MB 243.1 kB/s eta 0:00:31
   -------------- ------------------------- 4.2/11.5 MB 243.1 kB/s eta 0:00:31
   -------------- ------------------------- 4.2/11.5 MB 243.1 kB/s eta 0:00:31
   -------------- ------------------------- 4.2/11.5 MB 243.1 kB/s eta 0:00:31
   -------------- ------------------------- 4.2/11.5 MB 243.1 kB/s eta 0:00:31
   -------------- ------------------------- 4.2/11.5 MB 243.1 kB/s eta 0:00:31
   -------------- ------------------------- 4.2/11.5 MB 243.1 kB/s eta 0:00:31
   -------------- ------------------------- 4.2/11.5 MB 243.1 kB/s eta 0:00:31
   --------------- ------------------------ 4.5/11.5 MB 232.2 kB/s eta 0:00:31
   --------------- ------------------------ 4.5/11.5 MB 232.2 kB/s eta 0:00:31
   --------------- ------------------------ 4.5/11.5 MB 232.2 kB/s eta 0:00:31
   --------------- ------------------------ 4.5/11.5 MB 232.2 kB/s eta 0:00:31
   ---------------- ----------------------- 4.7/11.5 MB 234.4 kB/s eta 0:00:29
   ---------------- ----------------------- 4.7/11.5 MB 234.4 kB/s eta 0:00:29
   ---------------- ----------------------- 4.7/11.5 MB 234.4 kB/s eta 0:00:29
   ------------------ --------------------- 5.2/11.5 MB 252.0 kB/s eta 0:00:25
   ------------------- -------------------- 5.5/11.5 MB 262.6 kB/s eta 0:00:23
   -------------------- ------------------- 5.8/11.5 MB 272.1 kB/s eta 0:00:22
   -------------------- ------------------- 6.0/11.5 MB 281.3 kB/s eta 0:00:20
   --------------------- ------------------ 6.3/11.5 MB 292.8 kB/s eta 0:00:18
   ---------------------- ----------------- 6.6/11.5 MB 302.3 kB/s eta 0:00:17
   ----------------------- ---------------- 6.8/11.5 MB 310.0 kB/s eta 0:00:16
   ------------------------ --------------- 7.1/11.5 MB 318.6 kB/s eta 0:00:14
   ------------------------ --------------- 7.1/11.5 MB 318.6 kB/s eta 0:00:14
   ------------------------ --------------- 7.1/11.5 MB 318.6 kB/s eta 0:00:14
   ------------------------- -------------- 7.3/11.5 MB 323.6 kB/s eta 0:00:13
   --------------------------- ------------ 7.9/11.5 MB 340.9 kB/s eta 0:00:11
   ---------------------------- ----------- 8.1/11.5 MB 349.5 kB/s eta 0:00:10
   ----------------------------- ---------- 8.4/11.5 MB 358.7 kB/s eta 0:00:09
   ------------------------------ --------- 8.7/11.5 MB 368.2 kB/s eta 0:00:08
   ------------------------------- -------- 9.2/11.5 MB 384.9 kB/s eta 0:00:07
   -------------------------------- ------- 9.4/11.5 MB 392.8 kB/s eta 0:00:06
   --------------------------------- ------ 9.7/11.5 MB 399.7 kB/s eta 0:00:05
   --------------------------------- ------ 9.7/11.5 MB 399.7 kB/s eta 0:00:05
   --------------------------------- ------ 9.7/11.5 MB 399.7 kB/s eta 0:00:05
   ---------------------------------- ----- 10.0/11.5 MB 402.6 kB/s eta 0:00:04
   ------------------------------------ --- 10.5/11.5 MB 418.9 kB/s eta 0:00:03
   -------------------------------------- - 11.0/11.5 MB 435.6 kB/s eta 0:00:02
   ---------------------------------------  11.3/11.5 MB 444.0 kB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 449.5 kB/s eta 0:00:00
Using cached numpy-2.1.0-cp312-cp312-win_amd64.whl (12.6 MB)
Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, numpy, pandas

ERROR: Could not install packages due to an OSError: [WinError 32] The process cannot access the file because it is being used by another process: 'd:\\Abdullah\\Python_classes\\Python_practise\\class3.py\\.conda\\Lib\\site-packages\\numpy\\_core\\tests\\test_extint128.py'
Consider using the `--user` option or check the permissions.

In [9]:
!conda install lxml -y

Channels:
 - defaults
 - conda-forge
Platform: win-64
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: d:\Abdullah\Python_classes\Python_practise\class3.py\.conda

  added / updated specs:
    - lxml


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    libxml2-2.13.1             |       h24da03e_2         2.9 MB
    libxslt-1.1.41             |       h0739af5_0         467 KB
    lxml-5.2.1                 |  py312h395c83e_1         1.1 MB
    ------------------------------------------------------------
                                           Total:         4.5 MB

The following NEW packages will be INSTALLED:

  libiconv           pkgs/main/win-64::libiconv-1.16-h2bbff1b_3
  libxml2            pkgs/main/win-64::libxml2-2.13.1-h24da03e_2
  libxslt            pkgs/main/win-64::libxslt-1.1.41-h0739af5_0
  lxml               pkgs/main/win-64::lxml-5.2.1-py312h395c83e_1



Downloading and Extracting Packages: ...working... done
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [10]:
#import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [11]:
a: int = 5
b: int = 2


print(a + b) # Addition
print(a - b) # Subtraction
print(a * b) # Multiplication
print(a / b) # division

7
3
10
2.5

In [12]:
a: int = 5
b: int = 2

print(a % b) # Modulus

1

In [13]:
print(4 ** 2)
print(2 ** 2)# Exponentiation

16
4

In [14]:
print(5 / 8)

0.625

In [45]:
print(5 // 2)

2

In [21]:
print(59 // 4)

14

# Python Assignment Operators

In [22]:
table[1]

   Operator        Example         Same As    Try it
0         =          x = 5           x = 5  Try it »
1        +=         x += 3       x = x + 3  Try it »
2        -=         x -= 3       x = x - 3  Try it »
3        *=         x *= 3       x = x * 3  Try it »
4        /=         x /= 3       x = x / 3  Try it »
5        %=         x %= 3       x = x % 3  Try it »
6       //=        x //= 3      x = x // 3  Try it »
7       **=        x **= 3      x = x ** 3  Try it »
8        &=         x &= 3       x = x & 3  Try it »
9        |=         x |= 3       x = x | 3  Try it »
10       ^=         x ^= 3       x = x ^ 3  Try it »
11      >>=        x >>= 3      x = x >> 3  Try it »
12      <<=        x <<= 3      x = x << 3  Try it »
13       :=  print(x := 3)  x = 3 print(x)  Try it »

In [33]:
a : int = 8

print(a)
a += 7
print(a)
a-= 2
print(a)

8
15
13

In [34]:
a : int = 8

print(a)

a *= 2
print(a)

8
16

In [38]:
a : int = 8

print(a)

a %= 7
print(a)

8
1

In [48]:
a : int = 100
b: int = 50

print(a,b)
a //= b
print(a,b)

100 50
2 50

# Python Comparison Operators

In [49]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [51]:
a : int = 10
b: int = 20
c : int = 10

print(a==b,b==c,a==c,c!=a)

False False True False

In [52]:
a : int = 10
b: int = 20
c : int = 10

print(a>b,b>a,c>b,b>c)

False True False True

In [55]:
a :int = 4
b:int = 4

print(a >= b)

True

In [60]:
a :int = 8
b:int = 9

print(a <= b)

True

In [61]:
65

65

# Python Logical Operators

In [63]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [66]:
name : str = "Abdullah"

True and True and False
True or True or False

True

In [71]:
name : str = "Usama"
print( name!= "Abdullah")

True

In [73]:
name : str = "Abdullah"
print(not name== "Abdullah")

False