# List
### dynamic length
### hetrogenous data types (Multiple type)
### index
        #### postive 0 to n-1
        #### negative -1 to length
## slicing
       variable names[start:end:step]
        start : int = include
        end : int = n-1
        step : int = sequance

In [2]:
Fruits = ["Apple" , "Mango" , "Strawbarry"]

print(Fruits[1:3])

['Mango', 'Strawbarry']

In [17]:
Fruits=["Apple" , "Mango" , "Strawbarry"]

print(Fruits)

['Apple', 'Mango', 'Strawbarry']

# Slicing

In [26]:
from typing import Any
#                          0             1          2           3         4         5
Students : list[Any] = ["Abdullah" , "Hammeed" , "Qadir" , "Shazaib" , "Uzair" , "Qasim"]
#                         -6             -5         -4          -3          -2       -1
print(Students[0:3])

['Abdullah', 'Hammeed', 'Qadir']

In [27]:
Students : list[Any] = ["Abdullah" , "Hammeed" , "Qadir" , "Shazaib" , "Uzair" , "Qasim"]
#                         -6             -5         -4          -3          -2       -1
print(Students[-1:-5:-1])

['Qasim', 'Uzair', 'Shazaib', 'Qadir']

In [36]:
#                          0             1          2           3         4         5
Students : list[Any] = ["Abdullah" , "Hammeed" , "Qadir" , "Shazaib" , "Uzair" , "Qasim"]
#                         -6             -5         -4          -3          -2       -1

print(type (Students))
print(type (Students[0]))
print(f'Founder of School {Students[0].upper()}')

<class 'list'>
<class 'str'>
Founder of School ABDULLAH

In [32]:
# ->                    0        1         2
names : list[Any] = ["Qasim","Sir Zia", "Sir Inam"]
# <-                    -3     -2          -1

# print(type(names))
# print(type(names[-2]))

print(f'Founder of PIAIC {names[-2].upper()}')

Founder of PIAIC SIR ZIA

In [38]:
#                          0    1    2    3    4   5     6    7
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
#                         -8    -7   -6  -5    -4   -3   -2   -1

# iteration slicing ->
# step -> positive
# step <- negative
print(characters[::-1])

['H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']

# Python Lists

In [39]:
[i for i in dir(list) if "__" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [46]:
# Pop (For removing last elemnts of index)

#                          0    1    2    3    4   5     6    7
characters : list[str] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
#                         -8   -7   -6   -5   -4   -3   -2   -1

print(characters.pop()) # for removing last elemnts

print(characters)
print(characters)

H
['A', 'B', 'C', 'D', 'E', 'F', 'G']
['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [59]:
#                          0             1          2           3         4         5
Students : list[Any] = ["Abdullah" , "Hammeed" , "Qadir" , "Shazaib" , "Uzair" , "Qasim"]
#                         -6             -5         -4          -3          -2       -1

Students.remove("Shazaib")

print(Students)

['Abdullah', 'Hammeed', 'Qadir', 'Uzair', 'Qasim']

In [62]:
#                          0             1          2           3         4         5
Students : list[Any] = ["Abdullah" , "Hammeed" , "Qadir" , "Shazaib" , "Uzair" , "Qasim"]
#                         -6             -5         -4          -3          -2       -1

Students.append()

print(Students)

['Abdullah', 'Hammeed', 'Qadir', 'Shazaib', 'Uzair', 'Qasim', 'Abdullah']