# List
  

*   iteration operation with loop
*    apply any operation on element

In [2]:
names :list[str] = ["Abdullah" , "Qadir", "Mustafa", "Hamzah"]
print(names)

['Abdullah', 'Qadir', 'Mustafa', 'Hamzah']

In [3]:
for name in names:
  print(name)

Abdullah
Qadir
Mustafa
Hamzah

In [5]:
for name in names[0:3]: # 3 + -1 =  2 => [0 , 1 ,2]
  print(name)

Abdullah
Qadir
Mustafa

# this Iteration in JavaScript Method

    names = names = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

*    for(i=0; i<names.length; i++){
  *  names[i]
*         }

In [8]:
names = ['Abdullah', "Qadir", "Mustafa"]

i:int = 0 # counter = 0

while i<len(names): # names length =3
    print(names[i])
    i += 1

Abdullah
Qadir
Mustafa

In [10]:
names = ["Sir Qasim" ,'Abdullah', "Qadir"]

for name in names:
    print(f"Welcome Dear Teacher {name}")
    print("At our Today's Session\n")

print("Thanks to ALL For joining us")

Welcome Dear Teacher Sir Qasim
At our Today's Session

Welcome Dear Teacher Abdullah
At our Today's Session

Welcome Dear Teacher Qadir
At our Today's Session

Thanks to ALL For joining us

In [11]:
names = ["Sir Qasim" ,'Abdullah', "Qadir", ]

for name in names[0:2]: # it's Called Slicing
    print(f"Welcome Dear Teacher {name}")
    print("At our Today's Session\n")

print("Thanks to joining us")

Welcome Dear Teacher Sir Qasim
At our Today's Session

Welcome Dear Teacher Abdullah
At our Today's Session

Thanks to joining us

In [1]:
names = ["Sir Qasim" ,'Abdullah', "Qadir", ]

for name in names: # it's Called Slicing
    print(f"Welcome Dear Teacher {name.upper()}")
    print("At our Today's Session\n")

print("Thanks to joining us")

Welcome Dear Teacher SIR QASIM
At our Today's Session

Welcome Dear Teacher ABDULLAH
At our Today's Session

Welcome Dear Teacher QADIR
At our Today's Session

Thanks to joining us

# Tuples
## What is a Tuple?
A tuple is an immutable collection of ordered elements. Tuples are like lists, but their values cannot be changed after assignment. Tuples are defined using parentheses ().

In [13]:
Data_base : tuple[str , str]  = [("Abdullah" , "123"),
                                 ("Qadir" , '234'),
                                  ("Ali" , '444')]


for data in Data_base:
    print(data)

('Abdullah', '123')
('Qadir', '234')
('Ali', '444')

In [2]:
# this is your practice
# Please think and resolve this Error

Data_base : tuple[str , str]  = [("Abdullah" , "123"),
                                 ("Qadir" , '234'),
                                  ("Ali" , '444')]

for data in Data_base:
  user , password = data
   print(user , password)

IndentationError: unexpected indent (<ipython-input-2-b1ae1a3e55e3>, line 10)

In [3]:
Data_base : tuple[str , str]  = [("Abdullah" , "123"),
                                 ("Qadir" , '234'),
                                  ("Ali" , '444')]

for data in Data_base:
  user , password = data
  print(user , password)

Abdullah 123
Qadir 234
Ali 444

In [9]:
input_user :str = input("Enter you name\t")
print(input_user)

Enter you name	Sehikh Sahab
Sehikh Sahab

In [ ]:
Data_base : tuple[str , str]  = [("Abdullah" , "123"),
                                 ("Qadir" , '234'),
                                  ("Ali" , '444')]
input_user : str = input("Enter Your User Name\n")
input_password : str = input("Enter Your Password\n")

for data in Data_base:
  user , password = data
  if user.lower() == input_user.lower() and password == input_password:
    print(f"{user} Login Successfully")
    break
else:
    print("Login Failed")

Enter Your User Name
Qadir
Enter Your Password
234
Qadir Login Successfully

In [ ]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
print(name)

IndentationError: expected an indented block after 'for' statement on line 3 (<ipython-input-79-c114a3ba4e9a>, line 4)

In [ ]:
names = ["Sir Qasim" ,'Abdullah', "Qadir", ]

for name in names:
 print(name)

Sir Qasim
Abdullah
Qadir

In [ ]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names
    print(name)

SyntaxError: expected ':' (<ipython-input-82-42315eb2fcba>, line 3)

In [ ]:
names : list[str] = ["Sir Qasim" ,'Abdullah', "Qadir", ]

for name in names:
    print(name)

Sir Qasim
Abdullah
Qadir

In [ ]:
greetings = "Hello Python How Are you!"
 print(greetings)

IndentationError: unexpected indent (<ipython-input-85-77e53d586af1>, line 2)

In [ ]:
greetings = "Hello Python How Are you!"
print(greetings)

Hello Python How Are you!

In [ ]:
Students : list[str] = ["Ali", "Bala" , "Lagbataq" , "Chacho" , "NanKachori"]

for student in Students:
    print(f"Hello That's a great news {student}!!")
    print(f"We are going to School Picnic on sunday {student}!!\n")

print("Every Student Be Raady on Time") # last message for everyone

Hello That's a great news Ali!!
We are going to School Picnic on sunday Ali!!

Hello That's a great news Bala!!
We are going to School Picnic on sunday Bala!!

Hello That's a great news Lagbataq!!
We are going to School Picnic on sunday Lagbataq!!

Hello That's a great news Chacho!!
We are going to School Picnic on sunday Chacho!!

Hello That's a great news NanKachori!!
We are going to School Picnic on sunday NanKachori!!

Every Student Be Raady on Time

In [ ]:
# enumerate showing all index numbers
#              0        1         2
magicians = ['alice', 'david', 'carolina']

list(enumerate(magicians))

[(0, 'alice'), (1, 'david'), (2, 'carolina')]

In [1]:
magicians = ['alice', 'david', 'carolina']

for index , value in enumerate(magicians):
    print(index , value)

0 alice
1 david
2 carolina

#  Numbers with loop
* range(start,end,step)

In [10]:
range(10)

range(0, 10)

In [12]:
list(range(10)) # Bhaia Samjho esko Yaha Pr 0 se HoRaha He start and Last Number me se n-1 means Ak number (-).

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [16]:
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [19]:
for num in range(1, 11):
    print(f"2 x {num} = {num * 2}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [20]:
for num in range(1, 11):
    print(f"3 x {num} = {num * 3}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [21]:
squares :list[num] = []

for Value in range(1, 11):
  square = Value ** 2
  squares.append(square)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# list comprehensive
## Normal Loop

* for item in item_list:
*     * Loop_body

# Comprehensive Style
*   [loop_bodu for item in items_list]

In [25]:
'line1'
'line2'
'line3' # always return last line

'line3'

In [26]:
[staff for staff in Staff]

['Abdullah', 'Qadir', 'Ali', 'Mustafa']

In [22]:
Staff :list[str] = ["Abdullah", "Qadir", "Ali" , "Mustafa"]

for staff in Staff:
  print(staff)

Abdullah
Qadir
Ali
Mustafa

In [24]:
Staff :list[str] = ["Abdullah", "Qadir", "Ali" , "Mustafa"]

[staff for staff in Staff]

['Abdullah', 'Qadir', 'Ali', 'Mustafa']

In [30]:
numbers :list[int] = [1,2,3,4,5,6,7,8,9,0]

print(numbers)
print(max(numbers))
print(min(numbers))
print(sum(numbers))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
9
0
45

In [32]:
menu_item :list[str] = ["Chicken", "Beef pulao" , "Tikka" , "Biryani" , "Karahi"]
change_menu = menu_item[:]

print(menu_item)
print(change_menu)

change_menu [0] = "Fish"

print(menu_item)
print(change_menu)

['Chicken', 'Beef pulao', 'Tikka', 'Biryani', 'Karahi']
['Chicken', 'Beef pulao', 'Tikka', 'Biryani', 'Karahi']
['Chicken', 'Beef pulao', 'Tikka', 'Biryani', 'Karahi']
['Fish', 'Beef pulao', 'Tikka', 'Biryani', 'Karahi']

In [35]:
menu_item :list[str] = ["Chicken", "Beef pulao" , "Tikka" , "Biryani" , "Karahi"]
change_menu = menu_item[:] # deep Copy

print(menu_item)
print(change_menu)

change_menu.append("Fish")

print(menu_item)
print(change_menu)

['Chicken', 'Beef pulao', 'Tikka', 'Biryani', 'Karahi']
['Chicken', 'Beef pulao', 'Tikka', 'Biryani', 'Karahi']
['Chicken', 'Beef pulao', 'Tikka', 'Biryani', 'Karahi']
['Chicken', 'Beef pulao', 'Tikka', 'Biryani', 'Karahi', 'Fish']

# tuple

In [39]:
names : tuple[str] = ("A" , "B" , "C")

print(names[0])
print(names[1])
print(names[2])

A
B
C

In [41]:
names : tuple[str] = ("A" , "B" , "C")

names[0] = "Ali"

TypeError: 'tuple' object does not support item assignment

In [42]:
a  = input("abc") # return string type
print(type(a))
print(a)

abc123
<class 'str'>
123

In [44]:
b = input("Laqbataq") # return string also

print(type(b))
print(b)

Laqbataqg boos
<class 'str'>
g boos

In [45]:
a = "Type"

print(type(a))

<class 'str'>

In [46]:
a = 123

print(type(a))

<class 'int'>

In [50]:
sorted([1, 5, 3 ,2 ,4])

[1, 2, 3, 4, 5]

In [48]:
Digits = 1 , 5 , 4, 3, 2 , 6, 8, 7 , 9,

print(Digits)

print(sorted(Digits))

(1, 5, 4, 3, 2, 6, 8, 7, 9)
[1, 2, 3, 4, 5, 6, 7, 8, 9]

#  **Thanks** to Read this **note book**